/* style.css */
body{
  background-image: url(images/avent.jpg);
  background-size: cover;
  color: red;
  font-size: 25px;
	font-family: 'Indie Flower', serif;
}
h1{
	font-family: 'Indie Flower', serif;
  color: red;
  font-weight: lighter;
  font-size: 100px;
}
h2 {
	font-family: 'Indie Flower', serif;
  color: black;
  font-weight: lighter;
  font-size: 30px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
